.caja {
    margin: 0;
    padding: 5px;
    width: 35%; /* Ocupa el 40% del ancho del navegador */
    height: 100vh; /* Ocupa toda la altura del navegador */
    background-color: #033f63;
    position: fixed;
    top: 0;
    left: 0;
    box-sizing: border-box;
    z-index: 2; /* Coloca esta caja en un nivel superior */
}
h1{
    color: white;
    text-align: center;
}
h2{
    color: #033F63;
    text-align: center;
}
p{
    color: #ffffff;
    font-size: 45px;
    text-align: center;
}
.caja img {
    display: block;
    margin: 0 auto; 
    height: 60%; /* Ajusta la altura de la imagen */
    width: 60%;
}
.caja1 {
    position: fixed; /* Fija la posición en la ventana del navegador */
    top: 0; /* Ubica el rectángulo en la parte superior */
    right: 0; /* Ubica el rectángulo en el lado derecho */
    width: 100%; /* Ancho del 65% de la ventana */
    height: 50px; /* Altura de 30px */
    background-color: #28666E; /* Color de fondo opcional, puedes cambiarlo */
    display: flex; /* Usa flexbox para alinear los botones en una fila */
    justify-content: flex-end; /* Alinea los botones al lado derecho */
    align-items: center; /* Centra verticalmente los botones en el contenedor */
    padding: 0 10px; /* Espacio interno a los lados del contenedor */
    box-sizing: border-box; /* Incluye el padding y el border en el tamaño total */
    z-index: 1; /* Coloca esta caja en un nivel inferior */
}
.rectangulo-vertical {
    position: fixed; /* Fija el contenedor en la ventana del navegador */
    top: 0; /* Coloca el contenedor en la parte superior */
    right: 64.5%; /* Posiciona el contenedor a la izquierda de .caja1 */
    width: 0.6%; /* Ancho del 5% de la ventana */
    height: 100vh; /* Altura del 100% de la ventana */
    background-color: #FEDC97; /* Color de fondo opcional */
    box-sizing: border-box; /* Incluye padding y border en el tamaño total */
    z-index: 2; /* Coloca esta caja en un nivel superior */
}
.caja1 button {
    background-color: #FEDC97;
    color: #033f63; 
    border: none; /* Sin borde */
    border-radius: 5px; /* Esquinas redondeadas opcional */
    padding: 7px 20px; /* Espacio interno en los botones */
    margin: 0 7px; /* Espacio entre los botones */
    cursor: pointer; /* Cambia el cursor al pasar sobre el botón */
    font-size: 15px; /* Tamaño del texto en los botones */
}

.caja1 button:hover {
    background-color: #B5B682; /* Color de fondo al pasar el mouse sobre el botón */
}
.caja2 {
    display: flex; /* Utiliza flexbox para alinear el contenido */
    flex-direction: column; /* Coloca los elementos uno debajo del otro */
    justify-content: center; /* Centra los elementos verticalmente */
    align-items: center; /* Centra los elementos horizontalmente */
    height: 100vh; /* Ocupa toda la altura del navegador */
    text-align: center; /* Alinea el texto al centro */
    background-color: #fbfbfc; /* Color de fondo opcional */
    margin-left: 35%; /* Desplaza el contenedor al 60% del ancho del navegador */
    box-sizing: border-box; /* Incluye padding y border en el tamaño total */
}

.caja2 img {
    margin-bottom: 20px; /* Espacio debajo de la imagen */
}

.caja2 h1, .caja2 h2 {
    margin: 0; /* Elimina el margen por defecto en los encabezados */
    padding: 10px 0; /* Añade espacio alrededor de los encabezados */
}
