.caja1 {
    position: fixed; 
    top: 0; 
    right: 0; 
    width: 100%; 
    height: 50px; 
    background-color: #28666E; 
    display: flex; 
    justify-content: flex-end; 
    align-items: center; 
    padding: 0 10px; 
    box-sizing: border-box; 
    z-index: 1; 
}
.caja1 button {
    background-color: #FEDC97;
    color: #033f63; 
    border: none;
    border-radius: 5px; 
    padding: 7px 20px; 
    margin: 0 7px; 
    cursor: pointer; 
    font-size: 15px; 
}
.caja1 button:hover {
    background-color: #B5B682; 
}
.contenido {
    display: flex; 
    justify-content: space-between; 
    margin-top: 30px; 
    padding: 20px; 
    box-sizing: border-box; 
}
.texto {
    width: 60%; /* El texto ocupa el 60% del ancho disponible */
    text-align: left; /* Alinea el texto a la izquierda */
    border: 3px solid #033F63;
    background-color: #6dd16d;
    border-radius: 5px;
    margin-top: 20px;
    margin-left: 5%;
}
.imagen {
    display: block;
    margin: 0 auto; 
    height: 17%; /* Ajusta la altura de la imagen */
    width: 17%;
    justify-content: flex-end; /* Alinea la imagen a la derecha */
}
.imagen img {
    margin-top: 30px;
    max-width: 100%; /* Asegura que la imagen no se desborde del contenedor */
    height: auto; /* Mantiene la proporción de la imagen */
    border: 3px solid #033F63;
    border-radius: 5px;
}
h1{
    color: #033F63;
    text-align: center;
}
p{
    color: #000000;
    font-size: 20px;
}
.contenido p{
    color: #000000;
    font-size: 20px;
    margin-left: 10%;
}
.rectangulo-vertical {
    position: fixed; 
    top: 0; 
    left: 0; /
    width: 1%; 
    height: 100vh; 
    background-color: #7C9885; 
    box-sizing: border-box; 
    z-index: 2; 
}
.caja2 {
    background-color: #77db77; 
    border: 3px solid #033F63;
    padding: 20px; 
    border-radius: 5px; 
    margin: 70px; 
    box-sizing: border-box; 
    color: #000; /* Color del texto */
    font-family: Arial, sans-serif;
    font-size: 20px;
}
.texto p{
    font-weight: bold; /* Aplica negrilla a los encabezados, párrafos y listas */
}
.fondo {    
    height: 1110px; /* Ajusta la altura de la imagen */
    width: 1343px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

