.caja1 {
    position: fixed; /* Fija la posición en la ventana del navegador */
    top: 0; /* Ubica el rectángulo en la parte superior */
    right: 0; /* Ubica el rectángulo en el lado derecho */
    width: 100%; /* Ancho del 65% de la ventana */
    height: 50px; /* Altura de 30px */
    background-color: #28666E; /* Color de fondo opcional, puedes cambiarlo */
    display: flex; /* Usa flexbox para alinear los botones en una fila */
    justify-content: flex-end; /* Alinea los botones al lado derecho */
    align-items: center; /* Centra verticalmente los botones en el contenedor */
    padding: 0 10px; /* Espacio interno a los lados del contenedor */
    box-sizing: border-box; /* Incluye el padding y el border en el tamaño total */
    z-index: 1; /* Coloca esta caja en un nivel inferior */
}
.caja1 button {
    background-color: #FEDC97;
    color: #033f63; 
    border: none; /* Sin borde */
    border-radius: 5px; /* Esquinas redondeadas opcional */
    padding: 7px 20px; /* Espacio interno en los botones */
    margin: 0 7px; /* Espacio entre los botones */
    cursor: pointer; /* Cambia el cursor al pasar sobre el botón */
    font-size: 15px; /* Tamaño del texto en los botones */
}
.caja1 button:hover {
    background-color: #B5B682; /* Color de fondo al pasar el mouse sobre el botón */
}
.rectangulo-vertical {
    position: fixed; /* Fija el contenedor en la ventana del navegador */
    top: 0; /* Coloca el contenedor en la parte superior */
    left: 0; /* Posiciona el contenedor en el borde izquierdo del navegador */
    width: 1%; /* Define el ancho del rectángulo */
    height: 100vh; /* Altura del 100% de la ventana */
    background-color: #7C9885; /* Color de fondo opcional */
    box-sizing: border-box; /* Incluye padding y border en el tamaño total */
    z-index: 2; /* Coloca esta caja en un nivel superior */
}
.fondo {    
    height: 950px; /* Ajusta la altura de la imagen */
    width: 1343px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}
.imagen {
    margin-top: 80px;
    margin-left: 30%;
    display: block; /* Asegura que la imagen se comporte como un bloque */
    margin-bottom: 10px; /* Añade un margen debajo de la imagen */
    max-width: 100%; /* Hace que la imagen se ajuste al ancho del contenedor */
    border: 3px solid #a2b122;
    border-radius: 5px;
}
.texto {
    margin-left: 30%;
    color: #033f63;
    border: 3px solid #033F63; 
    border-radius: 5px; 
    font-size: 20px;
    text-align: center;
    background-color: #9bdd9b;
    width: 380px;
    padding: 10px; /* Añade espacio interno alrededor del texto */
    display: inline-block; /* Permite definir un ancho específico y se alinea correctamente */
}
p{
    text-align: center;
}

.container {
    display: flex; /* Utiliza flexbox para alinear los elementos en una fila */
    justify-content: space-between; /* Espacia los elementos uniformemente */
    align-items: center; /* Centra verticalmente los elementos */
}

.imagen1 {
    margin-top: 70px;    
    height: 300px; /* Ajusta la altura de la imagen */
    width: 375px;
    border: 3px solid #a2b122;
    border-radius: 5px;
    margin-right: 160px;
}
.texto1 {
    color: #033f63;
    border: 3px solid #033F63; 
    border-radius: 5px; 
    font-size: 20px;
    text-align: center;
    background-color: #9bdd9b;
    width: 355px;
    padding: 10px; /* Añade espacio interno alrededor del texto */
    display: inline-block; /* Permite definir un ancho específico y se alinea correctamente */
}
.imagen2 {
    background-color: white;
    margin-top: 40px;
    margin-left: 35%;
    height: 300px; /* Ajusta la altura de la imagen */
    width: 375px;
    display: block; /* Asegura que la imagen se comporte como un bloque */
    margin-bottom: 10px; /* Añade un margen debajo de la imagen */
    max-width: 100%; /* Hace que la imagen se ajuste al ancho del contenedor */
    border: 3px solid #a2b122;
    border-radius: 5px;
}
.texto2 {
    margin-left: 35%;
    color: #033f63;
    border: 3px solid #033F63; 
    border-radius: 5px; 
    font-size: 20px;
    text-align: center;
    background-color: #9bdd9b;
    width: 360px;
    padding: 10px; /* Añade espacio interno alrededor del texto */
    display: inline-block; /* Permite definir un ancho específico y se alinea correctamente */
}